body{
    margin: 0;
    padding: 0;
    font-family: 'calibri';
}

#Box{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow:  0px 2px 6px lightgrey;
    background-color: #eeeeee;
}

h1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.addtask{
    display: flex;
    margin-bottom: 20px;
}

#TP{
    flex: 1;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    margin-right: 12px;
}

#addbutton{
background-color: #414141;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

#addbutton:hover{
    color: #fff;
    background-color: #333333;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    
}

li:last-child{
    border-bottom: none;
}

li:hover{
    background-color: #f9f9f9;
}

input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}

span{
    font-size: 18px;
    font-weight: 600;
     font-family:"calibri";
}

button{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding : 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background-color: #414141;
    color: #ddd;
}